* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

h3 {
    text-decoration: underline;
}

/* Header/logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: gray;
    justify-content: space-between;
}

/* Style the text side navigation bar */
.menu {
    display: flex;
    margin-left: 60px;
}

/* Style the navigation bar links */
.menu a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.menu a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the navigation bar social media */
.icon {
    margin-left: 60px;
    margin-right: 60px;
}

.icon a:hover{
    opacity: 0.5;
}

/* social media icons*/
.icon img {
    width: 35px;
    height: 35px;
    margin: 5px;
}



/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 25%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    text-align: justify;
    flex: 75%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.photo {
    margin: auto;
    width: 42mm;
    height: 54mm;
}

.photo img {
  width: 100%;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}
